{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ToutSkiFaut</title>
	<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900" rel="stylesheet">
	<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.default.min.css" />
	<!-- <link rel="stylesheet" type="text/css" href="{% static 'icons-1/flaticon.css' %}"> -->
	<link rel="stylesheet" type="text/css" href="{% static 'icons-2/flaticon.css' %}">
	<link rel="stylesheet" type="text/css" href="{%  static 'styles.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Barlow:300" rel="stylesheet">
	<script src="https://use.fontawesome.com/acb60a9370.js"></script>
</head>
<body>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '806443349525320',
	      cookie     : true,
	      xfbml      : true,
	      version    : 'v2.11'
	    });
	      
	    FB.AppEvents.logPageView();   
	      
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "https://connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));

	</script>
	<script type="text/javascript">
	    var domain = 'https://apps.facebook.com/',
	        redirectURI = domain + 'fb/';

	    window.top.location = 'https://www.facebook.com/dialog/oauth/' +
	                                '?client_id=806443349525320' +
	                                '&redirect_uri=' + encodeURIComponent(redirectURI) +
	                                '&scope=email';
	</script>
	{% block navbar %}
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button> -->
	  <div class="menu-toggler">
	  	<div class="menu-wrapper">
	  		<div class="menu-custom-toggle">
	  			<div class="bars-wrap">
		  			<div class="menu-bars-wrap">
		  				<div class="menu-bar"></div>
		  				<div class="menu-bar"></div>
		  				<div class="menu-bar"></div>
		  			</div>
		  			<div class="menu-text">
	  					<span>MENU</span>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="menu-content">
	  			<ul>
	  				<a href="/">
		  				<li>
		  					Accueil
		  				</li>
	  				</a>
	  				{% if request.user.is_anonymous %}
	  				<li onclick="callConnexion('');" class="nav-log">
	  					Connexion
	  				</li>
	  				<li class="nav-log">
	  					Inscription
	  				</li>
	  				<a href="/profile" style="display:none;" class="logged-nav">
		  				<li>
		  					Mon profil
		  				</li>
		  			</a>
	  				{% else %}
	  				<li class="nav-log" onclick="callConnexion('');" style="display:none;">
	  					Connexion
	  				</li>
	  				<li style="display:none;" class="nav-log">
	  					Inscription
	  				</li>
	  				<a href="/profile" class="logged-nav">
		  				<li>
		  					Mon profil
		  				</li>
		  			</a>
		  			{% endif %}
	  				<li>Je veux louer des skis</li>
	  				<li onclick="scrollToHow();">Comment ça marche ?</li>
	  				<li>Contact</li>
	  			</ul>
	  		</div>
	  	</div>
	  </div>
	  <div class="logo-wrapper">
	  	<a href="/">
		<img class="center-logo" src="{% static 'logo-couleur.png' %}"></a>
		</div>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	    </ul>
	    <ul class="navbar-nav" id="log-nav">
	    	<li class="nav-item">
	        	<a class="nav-link" title="Louer mes skis" href="/add_item" id="navbar-add-item">Louer mes skis</a>
	      	</li>
		    {% if request.user.is_authenticated %}
		    <li class="nav-item logged-nav">	
		    	<a class="nav-link" title="Deconnexion" href="/accounts/logging_out">Déconnexion</a>
		    </li>
		    <li class="nav-item nav-log" style="display: none;">
		    	<a class="nav-link" title="Inscription" href="#" id="inscription-toggle">Inscription</a>
		    </li>
		    <li class="nav-item nav-log" style="display: none;">
		    	<a class="nav-link" title="Connexion" href="#" id="login-toggle">Connexion</a>
		    </li>
		    {% else %}
		    <li class="nav-item logged-nav" style="display: none;">	
		    	<a class="nav-link" title="Deconnexion" href="/accounts/logging_out">Déconnexion</a>
		    </li>
		    <li class="nav-item nav-log">
		    	<a class="nav-link" title="Inscription" href="#" id="inscription-toggle">Inscription</a>
		    </li>
		    <li class="nav-item nav-log">
		    	<a class="nav-link" title="Connexion" href="#" id="login-toggle">Connexion</a>
		    </li>
		    {% endif %}
		</ul>
	  </div>
	</nav>
	{% endblock %}
	<div class="container-fluid base-wrap">
		{% block content %}
		{% endblock %}
	</div>
	<div class="footer">
	</div>
	<div class="modal fade" id="login-modal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Connexion</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
 			<div class="modal-body">
 				<div id="login-errors">
 				</div>
 				<form>
 					<div class="form-group">
 						<label for="login-username" class="form-control-label">Mail</label>
		            	<input type="text" class="form-control" id="login-username">
 					</div>
 					<div class="form-group">
 						<label for="login-password" class="form-control-label">Mot de passe</label>
		            	<input type="password" class="form-control" id="login-password">
 					</div>
 					<div class="log-btn-wrap">
	 					<div id="connect-btn" class="btn">
	 						Se connecter
	 					</div>
	 				</div>
 				</form>
  			</div>
	    </div>
	  </div>
	</div>
	<div class="modal fade" id="inscription-modal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Inscription</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
 			<div class="modal-body">
 				<div id="inscription-errors">
 				</div>
 				<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
 				<form>
 					<div class="form-group">
		            	<input type="text" class="form-control" id="first_name" placeholder="Prénom">
		            </div>
		            <div class="form-group">
		            	<input type="text" class="form-control" id="last_name" placeholder="Nom">
 					</div>
 					<div class="form-group">
		            	<input type="text" placeholder="Téléphone" class="form-control" id="phone_number">
 					</div>
 					<div class="form-group">
		            	<input placeholder="Adresse e-mail" type="text" class="form-control" id="inscript-username">
 					</div>
 					<div class="form-group">
		            	<input type="password" placeholder="Mot de passe" class="form-control" id="inscript-password">
 					</div>
 					<div class="form-group birth-group">
 						<label for="birthdate">
 							Date de naissance
 						</label>
 						<div class="select-date-wrap">
			            	<select class="form-control" id="birthdate-day">
			            		<option selected disabled>Jour</option>

			            	</select>
			            	<select class="form-control" id="birthdate-month">
			            		<option selected disabled>Mois</option>
			            	</select>
			            	<select type="select" class="form-control" id="birthdate-year">
			            		<option selected disabled>Année</option>
			            	</select>
			            </div>
			            <legend>
		            		Vous devez être majeur pour vous inscrire
		            	</legend>
		            </div>
 					<div class="log-btn-wrap">
	 					<div id="create-btn" class="btn">
	 						Créer un compte
	 					</div>
	 				</div>
 				</form>
  			</div>
	    </div>
	  </div>
	</div>
</body>
	<script>
		// NAV HANDLING
		function scrollToHow() {
			// var homeHeight = $('.home').height();
			// var simHeight = $('simulate-income-wrapper').height();
			// console.log(homeHeight)
			// var totalHeight = homeHeight + simHeight;
			// window.sroll(0, totalHeight);
			$('html, body').animate({scrollTop: $(".how-wrapper").offset().top - $('.navbar').outerHeight()}, 400);
		}
		// CONNEXION HANDLING

		var isConnected = false;
		// Toggle login & subscript modal
		$('#login-toggle').on('click', function() {
			$('#login-modal').modal('show');
		});
		$('#inscription-toggle').on('click', function() {
			$('#inscription-modal').modal('show');
		});

		// get a cookie
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}

		//Send credential to backend
		function connect() {
			console.log(getCookie('csrftoken'));
			console.log('hola');
			$.ajax({
				url: '/accounts/login',
				method: 'POST',
				headers: {
					'X_CSRFTOKEN': getCookie('csrftoken')
				},
				data: {
					username: $('#login-username').val(),
					password: $('#login-password').val(),
				},
				success: function(r) {
					if (r === 'ok') {
						$('.nav-log').hide();
						$('.logged-nav').show();
						$('#login-modal').modal('hide');
						$('#login-errors').text('');
						isConnected = true;
					}
				},
				error: function(r) {
					$('#login-errors').text('Mauvais identifiants ..');
					console.log(r, 'ERRROR');
				}
			});
		}

		// Create an account
		function createAccount() {
			var username = $('#inscript-username').val();
			var password = $('#inscript-password').val();
			var lastName = $('#last_name').val();
			var firstName = $('#first_name').val();
			var year = parseInt($('#birthdate-year').val());
			var month = parseInt($('#birthdate-month').val());
			var day = parseInt($('#birthdate-day').val());
			console.log(day, month, year);
			birthdate = moment([year, month, day]);
			if (birthdate.isValid() ) {
				$.ajax({
					url: '/accounts/create',
					method: 'POST',
					data: {
						username: username,
						password: password,
						first_name: firstName,
						last_name: lastName,
						birthdate: birthdate.format('YYYY-MM-DD')
					},
					success: function(r) {
						console.log(r);
						if (r === 'user created') {
							$('.nav-log').hide();
							$('.logged-nav').show();
							$('#inscription-modal').modal('hide');
							$('#inscription-errors').text('');
							isConnected = true;
						} else {
					
						}
					},
					error: function(r) {
						$('#inscriptions-errors').text(r.responseText)
					}
				});
			} else {
				$('#inscription-errors').text('Entrez une date de naissance valide');
			}
		}
		$('#connect-btn').on('click', function() {
			connect();
			console.log('hello');
		});
		$('#create-btn').on('click', function() {
			createAccount();
			console.log('hello');
		});
		function callConnexion(errorMessage) {
			$('#login-modal').modal('show');
			$('#login-errors').text(errorMessage);
		}
		// INIT INSCRIPTION MODAL
		function initBirthDate() {
			var months = {
				1: 'Janvier',
				2: 'Février',
				3: 'Mars',
				4: 'Avril',
				5: 'Mai',
				6: 'Juin',
				7: 'Juillet',
				8: 'Août',
				9: 'Septembre',
				10: 'Octobre',
				11: 'Novembre',
				12: 'Décembre'
			}
			for (var i = 1910; i < 2001; i++) {
				$('#birthdate-year').append('<option value="' + i + '">' + i + '</option>' );
			}
			for (var i = 1; i < 13; i++) {
				$('#birthdate-month').append('<option value="' + i + '">' + months[i] + '</option>' );
			}
			for (var i = 1; i < 32; i++) {
				$('#birthdate-day').append('<option value="' + i + '">' + i + '</option>' );
			}
		}
		initBirthDate();
	</script>
	{% block script %}
	{% endblock %}
</html>