    /*
    Flaticon icon font: Flaticon
    Creation date: 02/12/2016 08:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-boots:before { content: "\f100"; }
.flaticon-cabin:before { content: "\f101"; }
.flaticon-cable-car-cabin:before { content: "\f102"; }
.flaticon-cable-car-cabin-1:before { content: "\f103"; }
.flaticon-car:before { content: "\f104"; }
.flaticon-chairlift:before { content: "\f105"; }
.flaticon-compass:before { content: "\f106"; }
.flaticon-danger:before { content: "\f107"; }
.flaticon-expert-route:before { content: "\f108"; }
.flaticon-goggles:before { content: "\f109"; }
.flaticon-hill:before { content: "\f10a"; }
.flaticon-hot-drink:before { content: "\f10b"; }
.flaticon-map:before { content: "\f10c"; }
.flaticon-mitten:before { content: "\f10d"; }
.flaticon-mountain:before { content: "\f10e"; }
.flaticon-panel:before { content: "\f10f"; }
.flaticon-pass:before { content: "\f110"; }
.flaticon-poles:before { content: "\f111"; }
.flaticon-ramp:before { content: "\f112"; }
.flaticon-ski:before { content: "\f113"; }
.flaticon-ski-1:before { content: "\f114"; }
.flaticon-skier:before { content: "\f115"; }
.flaticon-snowboard:before { content: "\f116"; }
.flaticon-snowboarder:before { content: "\f117"; }
.flaticon-snowflake:before { content: "\f118"; }
.flaticon-snowing:before { content: "\f119"; }
.flaticon-snowmobile:before { content: "\f11a"; }
.flaticon-thermometer:before { content: "\f11b"; }
.flaticon-wind-sign:before { content: "\f11c"; }
.flaticon-winter-hat:before { content: "\f11d"; }
    
    $font-Flaticon-boots: "\f100";
    $font-Flaticon-cabin: "\f101";
    $font-Flaticon-cable-car-cabin: "\f102";
    $font-Flaticon-cable-car-cabin-1: "\f103";
    $font-Flaticon-car: "\f104";
    $font-Flaticon-chairlift: "\f105";
    $font-Flaticon-compass: "\f106";
    $font-Flaticon-danger: "\f107";
    $font-Flaticon-expert-route: "\f108";
    $font-Flaticon-goggles: "\f109";
    $font-Flaticon-hill: "\f10a";
    $font-Flaticon-hot-drink: "\f10b";
    $font-Flaticon-map: "\f10c";
    $font-Flaticon-mitten: "\f10d";
    $font-Flaticon-mountain: "\f10e";
    $font-Flaticon-panel: "\f10f";
    $font-Flaticon-pass: "\f110";
    $font-Flaticon-poles: "\f111";
    $font-Flaticon-ramp: "\f112";
    $font-Flaticon-ski: "\f113";
    $font-Flaticon-ski-1: "\f114";
    $font-Flaticon-skier: "\f115";
    $font-Flaticon-snowboard: "\f116";
    $font-Flaticon-snowboarder: "\f117";
    $font-Flaticon-snowflake: "\f118";
    $font-Flaticon-snowing: "\f119";
    $font-Flaticon-snowmobile: "\f11a";
    $font-Flaticon-thermometer: "\f11b";
    $font-Flaticon-wind-sign: "\f11c";
    $font-Flaticon-winter-hat: "\f11d";